<div class="row">
	<div class="large-8  large-centered columns">
			<form method = "post" action ="/edit/<%= @todo.id%>">
			Tâche : <input type = "text" name ="content" placeholder = "<%=@edit.content%>" >
			</form>
		</div>
	</div>
</div>