<!DOCTYPE html>

<!DOCTYPE html>
	<html>
	<head>
	<link rel='stylesheet' href='/foundation/css/foundation.css'>
	<link rel="stylesheet" href='/foundation-icons/foundation-icons.css'>
	</head>
	<body>
		
      <h1>TO DO Application</h1>
    

		<%=yield%>	

	
	</body>
</html>